@font-face {
    font-family: droid_sans_mono_regular;
    src: url('DroidSansMono.ttf');
}
* {
    box-sizing: content-box;
}
pre {
    font-family: droid_sans_mono_regular;
    font-size: 9pt;
    color: #cccccc;
}
h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #cccccc;
}
h2 {
    margin-top: 5px;
    margin-left: 5px;
}
::-moz-selection {
    color: #cccccc;
    background: transparent;
    background-color: transparent;
}
::selection {
    color: #cccccc;
    background: transparent;
    background-color: transparent;
}
h1 {
    font-size: 30pt;
    margin: 0px;
}
#welcome {
    margin: 15px;
}
.tree-view {
    margin: 15px;
}
.log {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}
.log > pre {
    margin: 0px;
    overflow: hidden;
}
.log > .error {
    color: #cc0000;
}
.log > .warning {
    color: #cccc00;
}
#timeline {
    height: 100%;
    width: 95%;
}
#timeline > * {
    font-family: droid_sans_mono_regular;
    font-size: 9pt;
}
.vis-item.timeline-item {
    background: #cccccc;
}
.vis-time-axis .vis-grid.vis-minor {
    border-color: #555555 !important;
}
.vis-text, .vis-label {
    color: #cccccc !important;
}
.timeline-range-red {
    background: repeating-linear-gradient(45deg, #ff252581, #ff252581 10px, #a5151581 10px, #a5151581 20px);
}
.timeline-range-green {
    background: repeating-linear-gradient(45deg, #f825ff81, #f825ff81 10px, #a5159981 10px, #a5159981 20px);
}
.timeline-range-blue {
    background: repeating-linear-gradient(45deg, #2546ff81, #2546ff81 10px, #152fa581 10px, #152fa581 20px);
}
.timeline-range-red > .vis-item-overflow > .vis-item-content, 
.timeline-range-green > .vis-item-overflow > .vis-item-content,
.timeline-range-blue > .vis-item-overflow > .vis-item-content {
    color: #ffffff !important;
}
.vis-selected {
    background: #ffffff !important;
    border-color: #ffffff !important;
}
a:not([href]):not([tabindex]) {
    color: #cccccc; /* undo bootstrap stuff to fix tree controls */
}
